<ion-header>
  <ion-navbar color="wisteria">
    <ion-title>SOFIA LEDS</ion-title>
    <ion-searchbar (input)="getItems($event)"></ion-searchbar>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Bienvenido a Botones LED</h3>
  <p>
    Este proyecto planea encender y a pagar unos led desde el celular, a través del raspberry.
  </p>
  <ion-list *ngFor="let led of leds; let i=index">
    <ion-item>
        <ion-avatar item-start>
            <img *ngIf="led.value == 1" [src]="'./assets/imgs/'+led.icon">
            <img *ngIf="led.value == 0" src="./assets/imgs/ledoff.jpeg">
          </ion-avatar>
      <ion-label> {{led.title}} - [{{led.gpio}}]</ion-label>
      <ion-toggle [checked]="led.value == 1" (click)="onClick(i)" [color]="led.color"></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>
